@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

@keyframes move {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0);
    }
  }

.home{
    font-family: Roboto, sans-serif;
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
}

.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.home-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-img img{
    max-width: 450px;
    animation: move 2s infinite alternate;
}


.home-title{
    font-size: 4em;
    font-weight: 900;
    color: #100921dc;
}

.home-subtitle{
    font-size: 1.1em;
    font-weight: 300;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-btn{
    width: 50%;
    color: aliceblue;
    background-color: #100921dc;
}

/* ---------------------------- RESPONSIVE -------------------------*/
@media (max-width: 600px) {
    .home-subtitle{
        font-size: 5px;
    }

    .home-subtitle span{
        text-align: center;
    }

    .home{
        height: 80vh;
    }
}

@media (max-width: 1024px) {
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80vh;
    }

    .home-title{
        margin-top: 40px;
        font-size: 4em;
        text-align: center;
    }

    .home-subtitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        gap: 10px;
    }

    .home-main{
        align-items: center;
    }

    .home-img{
        display: block;
    }
}
